<!-- customer_management/templates/customer_management/customer_form.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 고객 추가/수정 페이지 </title>
    <!-- 이케아 스타일 CSS 파일 연결 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- 이케아 로고 추가 -->
    <img src="{% static 'images/ikea_logo.png' %}" alt="IKEA Logo" class="ikea-logo">
    <h2> 고객 {% if object %}수정{% else %}추가{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</body>
</html>
