
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
</head>
<body>
    <div>
        <h2>고객 정보 리스트</h2>
        <a href =  "{% url 'customer_management:customer_add' %}">➕</a>    
        <a href =  "{% url 'customer_management:customer_statistics' %}">📈</a>
       
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>전화번호</th>
                        <th>주소</th>
                        <th>가입일</th>
                        <th>구매내역</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.created_at }}</td>
                        <td>
                            <a href =  "{% url 'customer_management:customer_purchase_detail' pk=customer.pk %}">🗒️</a>
                        </td>
                        <td>
                            <a href =  "{% url 'customer_management:customer_edit' pk=customer.pk %}">✏️</a>
                            <a href =  "{% url 'customer_management:customer_delete' pk=customer.pk %}">➖</a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>