{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase History List</title>
</head>
<div>
    <img src="{% static 'images/ikea_logo.png' %}" alt="Walmart Logo" class="Walmart-logo">
    <h2>Purchase History List</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Purchase Amount</th>
                    <th>Purchase Date</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.customer }}</td>
                    <td>{{purchase.product_code}}</td>
                    <td>{{ purchase.product_name }}</td>
                    <td>{{ purchase.category }}</td>
                    <td>${{ purchase.amount|floatformat:0 }}</td>
                    <td>{{ purchase.date|date:"Y.m.d"}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No purchase records available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</html>
