<!-- customer_management/templates/customer_management/customer_form.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if object %}Edit{% else %}Add{% endif %} Customer</title>   
</head>
<body>
    <!-- 이케아 로고 추가 -->
    <img src="{% static 'images/ikea_logo.png' %}" alt="Walmart Logo" class="Walmart-logo">
    <div class="form-container">
    <h2>{% if object %}Edit{% else %}Add{% endif %} Customer</h2>
        <form method="post" class="customer-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Save</button>
        </form>
    </div>
</body>
</html>
