<!-- customer_management/templates/customer_management/customer_form.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Customer Add/Edit Page </title>   
</head>
<body>
    <img src="{% static 'images/ikea_logo.png' %}" alt="Walmart Logo" class="Walmart-logo">
    <div class="form-container">
        <h2> Customer {% if object %}Edit{% else %}Add{% endif %}</h2>
        <form method="post" class="customer-form">
            {% csrf_token %}
            <p>
                <label for="id_name">Name:</label>
                {{form.name}}
            </p>
            <p>
                <label for="id_email">Email:</label>
                {{ form.email }}
            </p>
            <p>
                <label for="id_phone">Phone:</label>
                {{ form.phone }}
            </p>
            <!-- 성별 필드 추가 -->
            <p>
                <label for="id_gender">Gender:</label>
                {{ form.gender }}
            </p>
            <!-- 나이 필드 추가 -->
            <p>
                <label for="id_age">Age:</label>
                {{ form.age }}
            </p>
            <p>
                <label for="id_address">Address:</label>
                {{ form.address }}
            </p>

            <button type="submit" class="submit-btn">Save</button>
        </form>
    </div>
</body>
</html>
