{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page </title>
</head>
<body>
    <div>
        <img src="{% static 'images/ikea_logo.png' %}" alt="Walmart Logo" class="Walmart-logo">
        <h2>Customer Management</h2>
        <form class="customer-form" action="" method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            {% if error %}
            <p style="color: red;">{{ error }}</p> 
            {% endif %}

            <button type="submit" class="submit-btn">Sign in</button>
        </form>
    </div>
<body>
</html>
